/*.popup {
   position: relative;
}
.popuptext {
   visibility: hidden;
   width: 250px;
   background-color: #262626;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 8px 0;
   position: absolute;
   z-index: 1;
   bottom: 125%;
   margin-left: -140px;
   margin-top: 35px;
}

.popuptext:after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border: 5px solid #262626;
}
.show {
   visibility: visible;
}*/